{% extends "corpus_base/base.html"%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %} 

<div>
	<h3>Artículos:</h3>
</div>
<section class="blog-list px-3 py-5 p-md-5">
			{% for articulo in articulos%}
		    <div class="container">
			    <div class="item mb-5">
				    <div class="media">
<!-- 					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image"> -->
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{% url 'ArticuloDesplegado' %}?art={{articulo.id}}">{{articulo.titulo}}</a></h3>
						    <div class="meta mb-1"><span class="date">{{articulo.fecha}}</span><span class="time">{{articulo.autor}}</span></span></div>
						    <div class="intro">{{articulo.abstract}}</div>
						    <a class="more-link" href="{% url 'ArticuloDesplegado' %}?art={{articulo.id}}">Leer &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
			</div><!--//container-->
			{% endfor %}
</section>

{% endblock %}